html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#welcomeHeader{
  font-family:  'Roboto Mono', monospace;
  /* color: white; */
  background: -webkit-linear-gradient(#FFFFFF, #80deea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  font-weight: 600;
  display: block;
  text-align: center;
}

#welcomeText{
  font-family:  'Roboto Mono', monospace;
  color: white;
  font-size: 30px;
  font-weight: 200;
  display: block;
  text-align: center;
  line-height: 48px;
  margin-left: 250px;
  margin-right: 250px;
  max-width: 100%;
  opacity: 0.8;
}

#conclusionText{
  font-family:  'Roboto Mono', monospace;
  color: white;
  font-size: 32px;
  font-weight: 200;
  display: block;
  text-align: left;
  line-height: 56px;
  margin-left: 80px;
  /* margin-right: 250px; */
  max-width: 50%;
  opacity: 0.8;
}

#monkeyFaceTime{
  font-family:  'Roboto Mono', monospace;
  color: #ffea00;
  font-size: 24px;
  font-weight: 100;
  display: block;
  text-align: left;
  line-height: 40px;
  margin-left: 80px;
  max-width: 50%;
  opacity: 1;
}


#sliderHeading {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  font-weight: 600;
  opacity: 0.7;
}

#sliderHelpText {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  font-weight: 100;
  margin-right: 60%;
  line-height: 42px;
  opacity: 0.7;
}

#interactiveHelpText {
  border: solid;
  border-radius: 24px;
  border-color: Transparent;
  padding: 40px 24px 40px 24px;
  text-align: center;
  background-color: #ffab00;
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 36px;
  font-weight: 200;
  margin-right: 60%;
  max-width: 50%;
  line-height: 48px;
  opacity: 1;

}

#button {
  width: 250px;
  height: 72px;
  border-radius: 36px;
  background-color: Transparent;
  border: solid;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  opacity: 0.8;
  cursor: pointer;
}

#buttonStart {
  width: 300px;
  height: 88px;
  border-radius: 44px;
  background-color: Transparent;
  border: solid;
  border-color: #FFFFFF;
  color:#FFFFFF;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  opacity: 0.8;
  cursor: pointer;
}

#buttonStart:active {
  width: 300px;
  height: 88px;
  border-radius: 44px;
  background-color: #ffea00;;
  border: solid;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}

#button:active{
  width: 250px;
  height: 72px;
  border-radius: 36px;
  background-color: #34dea2;
  border: solid;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}

#slider {
  -webkit-appearance: none;
  width: 350px;
  height: 24px;
  border-radius: 8px;
  background: #00b0ff;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

#sliderEvolution {
  -webkit-appearance: none;
  width: 350px;
  height: 24px;
  border-radius: 8px;
  background: #ff9800;
  outline: none;
  opacity: 1;
  cursor: pointer;
}
